.form{
    /* display: flex;
    flex-direction: column; */
    gap: 20px;
    margin-top: 30px;
    color: white;
}


.EventName-div, .EventDescription-div, .EventTime-div, .EventVenue-div, .RegistrationLink-div{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.form input{
    background-color: white;
    flex-direction: column;
    margin-top: 10px;
    height: 40px;
    width: 500px;
    display: block;
}