.whole-form{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.add-member-button{
    height: 40px;
    width: 500px;
    color: white;
    background-color: rgb(255, 0, 204);
    margin-left: auto;
    margin-right: auto;
}


